/*
 * Cores utilizadas
 * 1c430c - verde escuro
 * 379936 - verde claro
 * c91518 - vermelho
 */

* {
    margin: 0px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 75%;
    min-width: 350px;
    align-items: center;
}
